apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-homelab
  namespace: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-homelab
  template:
    metadata:
      labels:
        app: go-homelab
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        fsGroup: 65532
      containers:
      - name: go-app
        # O GitHub Actions vai atualizar a tag automaticamente aqui
        image: geovannyribeiro/go-homelab:0b37ffa29c78b46f3278133705150300c2f110a3
        imagePullPolicy: IfNotPresent 
        ports:
        - containerPort: 8080
          name: metrics
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        resources:
          limits:
            memory: "64Mi"
            cpu: "100m"
