apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: go-homelab-monitor
  namespace: observability
  labels:
    release: prometheus # A label que o seu Prometheus Operator exige!
spec:
  selector:
    matchLabels:
      app: go-homelab
  endpoints:
  - port: metrics
    interval: 30s
    path: /metrics
