name: CI/CD Homelab
on:
  push:
    branches: [ main ] # Dispara sempre que você der push na main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Usa o SHA do commit como tag para versão única
          tags: ${{ secrets.DOCKER_USERNAME }}/go-homelab:${{ github.sha }}

      - name: Update Kubernetes Manifest
        run: |
          # Altera o deployment.yaml para usar a nova tag da imagem
          sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/go-homelab:${{ github.sha }}|g" k8s/deployment.yaml
          
          # Configura o git para commitar a mudança de volta no repositório
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add k8s/deployment.yaml
          git commit -m "chore: update image tag to ${{ github.sha }} [skip ci]"
          git push
